.logo {
  width: 35px;
  height: 31px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 350;
  text-align: center;
  margin: 10px;
  border-radius: 6px;
}

.name {
  width: 145px;
  height: 35px;
  margin:13px 5px 0px 0px;
  text-align: left;
  font-weight: 500;
  color: black;
}
